@using System.Security.Claims

@model IEnumerable<WSB_RadioForum.Models.UserPost>

@{
    ViewData["Title"] = "Index";
    var userEmails = ViewBag.UserEmails as Dictionary<string, string>;
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td colspan="4">
                    <div class="d-flex justify-content-between">
                        <div>
                            <strong>@Html.DisplayFor(modelItem => item.Title)</strong>
                        </div>
                        <div>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Details</a>
                            @if (item.UserId != null && User?.FindFirst(ClaimTypes.NameIdentifier)?.Value != null &&
                           (item.UserId == User.FindFirst(ClaimTypes.NameIdentifier).Value || User.IsInRole("Admin")))

                            {
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Edit</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                            }
                            else
                            {

                            }
                        </div>
                    </div>
                    <div class="mt-2">
                        @Html.DisplayFor(modelItem => item.Content)
                    </div>
                    <div class="text-muted">
                        <small>@Html.DisplayFor(modelItem => item.DateAdded) - @userEmails[item.UserId]</small>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>